
body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    background: linear-gradient(
        45deg
        ,#096f79,#c3e6ed);

}

.team-area{
    text-align: center;
  
}
.section-title h1{
    padding-top: 30px;
    margin: auto;
    line-height: 50px;
    font-size: 32px;
    text-align: center;
    margin-bottom: 0;
}

.team-box{
    max-width: 1400px;
    margin: auto;
    padding: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.box{
   /*  width:  230px; */
    height: 270px;
    margin: 20px;
    padding: 30px 10px;
    background: #ececec;
    text-align: center;
    border-radius: 5px;
    overflow: hidden; 
  /*   box-shadow: 10px 10px 15px #c7c4c4, -10px 15px #fff ; */
  filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
    drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
    drop-shadow(15px 15px 15px rgba(0,0,0,0.2));  
}
.box img{
    width: 208px;
    border-radius:20%;
    padding: 0;
    margin-bottom: -10px;
    border: 2px solid #dee2e6;
    backface-visibility: hidden;
    transition: all .5s ease-in-out;
}
/* .box:hover img{
    transform: scale(1.2);
} */
.box h2{
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 0;

}
.box span{
    font-size: 14px;
    display: block;
    font-size: italic;
    margin-bottom: 25px;
}
.links{
    margin: 14px;
}
.links a{
    display: inline-block;
    height: 30px;
    width: 30px;
    transition: 0.3s;
filter: drop-shadow(-3px -3px 2px rgba(255,255,255,0.3))
    drop-shadow(5px 5px 5px rgba(0,0,0,0.2))
    drop-shadow(15px 15px 15px rgba(0,0,0,0.2));
}
 .links a:hover{
     transform: scale(1.5);
}
/* for team carousel */
@media (max-width:1442px) {
    .box{
        height: 290px;
    }
}
@media (max-width:1000px) {
    .box{
        height: 266px;
    }
}
@media (max-width:900px) {
    .box{
        height: 276px;
        margin: 16px;
    }
}
@media (max-width: 686px){
    .box {
        height: 300px;
        margin: 30px;
    }
}
@media (max-width: 610px){
    .box {
        height: 290px;
        margin: 20px;
    }
}
@media (max-width: 500px){
    .box {
        height:284px;
        margin: 12px;
    }
}
@media (max-width: 480px){
    .box {
        height:350px;
        margin: 30px;
        padding: 16px 16px;
    }
}